@{
    ViewData["Title"] = "Tarefas";
}

<div>
    <input type="text" id="descricao" placeholder="Descreva a sua tarefa">
    <button onclick="adicionarTarefa()">Adicionar</button>
</div>

<h2>Lista de Tarefas</h2>

<table class="table table-striped table-hover" id="tabela">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th id="titulo-descricao" scope="col">Descrição</th>
            <th id="titulo-status" scope="col">Status</th>
            <th id="titulo-excluir" scope="col">Excluir</th>
        </tr>
    </thead>
    <tbody class="table-group-divider" id="corpo-tabela">
    </tbody>
</table>

<script src="../Scripts/Tarefa/Tarefa.js">
    
</script>

<style>
    .btn-concluido, .btn-a-fazer {
        width: 100px;
        background-color: #4AF786;
        color: black;
        border: none;
        padding: 5px 10px;
        border-radius: 5px;
        cursor: pointer;
    }

    .btn-a-fazer {
        background-color: darkgrey;
    }

    .dropdown {
        display: inline-block;
        position: relative;
    }

    .dropdown-menu {
        position: absolute;
        top: 100%;
        left: 0;
        display: none;
        z-index: 1000;
        float: left;
        min-width: 160px;
        padding: 5px 0;
        margin: 2px 0 0;
        font-size: 14px;
        text-align: left;
        list-style: none;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid rgba(0,0,0,.15);
        border-radius: 4px;
        box-shadow: 0 6px 12px rgba(0,0,0,.175);
    }

    .dropdown-item {
        display: block;
        width: 100%;
        clear: both;
        font-weight: 400;
        color: #212529;
        text-align: inherit;
        white-space: nowrap;
        background-color: transparent;
        border: 0;
    }

    h2 {
        margin-top: 30px;
        margin-block-end: 5px;
    }

    #coluna-excluir, #coluna-status, #titulo-status, #titulo-excluir {
        text-align : center;
    }

    #coluna-excluir:hover {
            color: red;
            cursor: pointer;
    }

    #coluna-descricao, #titulo-descricao {
        width: 60%;
    }
</style>