@{
    ViewData["Title"] = "Tarefas";
}

@* <script src="../Views/Tarefa/js/Tarefa.js"></script> *@


<script>
    //import { meuMetodo } from '../Tarefa/js/Tarefa.js';

    function obterTarefas() {
        fetch('/Tarefa/ObterTarefas')
            .then(response => {
                if (!response.ok) {
                    throw new Error('Erro ao obter as tarefas');
                }

                return response.json();
            })
            .then(data => {
                // Manipulando os dados recebidos
                console.log('Tarefas:', data);
                // Aqui você pode fazer o que quiser com os dados, como exibir em uma lista na página
            })
            .catch(error => {
                // Capturando e tratando erros
                console.error('Erro:', error);
            });
    }
</script>

<button onclick="obterTarefas()">Clique aqui</button>

<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Descrição</th>
            <th scope="col">Status</th>
        </tr>
    </thead>
    <tbody class="table-group-divider">
        <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td></td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td></td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td colspan="2">Larry the Bird</td>
            <td></td>
        </tr>
    </tbody>
</table>

<script>
    document.quer
</script>

<h1>Lista de Tarefas</h1>